export(network.fromIgraph)
export(network.all)
export(network.create)
export(multinet.create)
export(network.nodePie)
export(network.nodeImage)
export(network.addNodeAttr)
export(network.addLinkAttr)
export(network.addNodeFilter)
export(network.addLinkFilter)
export(network.start)
export(netCoin)
export(edgeList)
export(coin)
export(print.coin)
export(lower)
export(sim)
export(distant)
export(dichotomize)
export(as.nodes)
export(asIgraph)
importFrom(igraph,V)
importFrom(igraph,graph.empty)
importFrom(igraph,add.vertices)
importFrom(igraph,add.edges)
importFrom(igraph,get.edgelist)
importFrom(igraph,list.vertex.attributes)
importFrom(igraph,get.vertex.attribute)
importFrom(igraph,list.edge.attributes)
importFrom(igraph,get.edge.attribute)
importFrom(Matrix,Matrix)
importFrom(Matrix,diag)
importFrom(Matrix,tcrossprod)
