body {
  font-family: sans-serif;
  font-size: 10px;
  color: #333;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
a {
  color: #2f7bee;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button, input, select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid 1px #aaa;
  font-family: sans-serif;
  font-size: 100%;
  color: #333;
  background-color: #fff;
  border-radius: 3px;
  padding: 2px 8px;
}
button {
  background: #ddd;
  cursor: pointer;
}
button.disabled {
  color: #888;
  pointer-events: none;
}
button.primary {
  background: #2f7bee;
  color: #fff;
  border: none;
}
button.primary-outline {
  background: #fff;
  color: #2f7bee;
  border-color: #2f7bee;
}
button.primary.disabled {
  opacity: 0.5;
  pointer-events: none;
}
input[type=range]{
  height: 5px;
  background: #d3d3d3;
  border-radius: 3px; 
  outline: none;
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #aaa;
  width: 12px;
  height: 12px;
  border-radius: 50%; 
  background: #fff;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #aaa;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: #fff;
  cursor: pointer;
}
table {
  color: #444;
  border-collapse: collapse;
} 
td, th {
  border: solid 0px #fff;
  padding: 4px;
} 
tr.selected {
  background-color: #fffacd !important;
}
tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(odd) {
  background-color: #fff;
}
th {
  background-color: #ddd;
  padding: 6px;
  text-align: left;
  white-space: nowrap;
}
th.sorting,
th.sorting_asc,
th.sorting_desc {
  cursor: pointer;
}
th.sorting:after {
  content: "\20\2195";
  font-size: 140%;
  color: #aaa;
}
th.sorting_asc:after {
  content: "\20\2191";
  font-size: 140%;
  color: #666;
}
th.sorting_desc:after {
  content: "\20\2193";
  font-size: 140%;
  color: #666;
}
.tables {
  background-color: #f5f5f5;
  padding: 6px 10px;
  border-top: solid 2px #888;
}
.tables div.title{
  font-size: 120%;
  padding-bottom: 10px;
  margin-top: 20px;
  cursor: default;
}
.tables div.title span{
  font-weight: bold;
  font-size: 140%;
}
.tables div.nodes,
.tables div.links {
  margin: 10px;
}
.tables table {
  cursor: initial;
  max-width: 99%;
}
.tables td {
  white-space: nowrap;
}
.tables > h3 {
  font-size: 120%;
  margin: 10px;
}
.select-wrapper {
    display: inline-block;
    position: relative;
}
.select-wrapper:after {
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4IDlMMTIgMTVMNiA5IiBzdHJva2U9IiMyRjdCRUUiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4=);
    line-height: 0;
    font-size: 160%;
    position: absolute;
    top: 2px;
    right: 2px;
}
.select-wrapper > select {
    width: 100%;
    position: relative;
    padding-right: 20px;
    cursor: pointer;
}
img.icon {
  cursor: pointer;
  float: right;
  margin: 3px;
}
.selectButton{
  padding: 5px 10px;
}
.selectButton>button{
  display:inline-block;
  margin:0 5px 5px 0;
}
div.switchNodeLink{
  height: 0px;
  margin-left: 40px;
}
div.switchNodeLink > div{
  position: relative;
  display: inline-block;
  padding: 4px 8px;
  margin: 0 2px;
  border-radius: 5px 5px 0 0;
  border-style: solid;
  border-color: #888;
  border-width: 2px;
  background: #ddd;
  width: 100px;
  text-align: center;
  cursor: pointer;
}
div.switchNodeLink > div > h3{
  font-size: 120%;
  color: #666;
}
div.main {
  padding: 6px;
  border-bottom: solid 1px #ccc;
  background-color: #fff;
  font-size: 120%;
}
div.main span.title {
  font-weight: bold;
}
div.main span.separator {
  padding: 0 6px;
}
div.main-title {
  font-size: 240%;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
}
div.note {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 40px 3em 30px;
}
div.poweredby {
  position: absolute;
  right: 0;
  bottom: 10px;
}
div.poweredby img {
  position: relative;
  top: 5px;
  left: 4px;
  z-index: -1;
}
.clear {
  clear: both;
}
/* legend panel */
.legend-panel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.legend-panel > .scale {
  position: relative;
  top: 0;
  right: 0;
}
.legend-panel > .scale > img {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4.5ex 6px;
  cursor: pointer;
}
.legend-panel > .scale > div {
  padding-right: 30px;
}
.legend-panel > .scale > div > .title {
  text-align: center;
  font-size: 160%;
  margin-bottom: .5ex;
}
.legend-panel > .scale > div > .domain1,
.legend-panel > .scale > div > .domain2 {
  display: inline-block;
  width: 50%;
  font-size: 120%;
}
.legend-panel > .scale > div > .domain2 {
  text-align: right;
}
.legend-panel > .legends > div {
  overflow-y: auto;
}
.legend-panel > .legends > div > .legend {
  margin: 6px 0;
}
.legend-panel > .legends > div > .legend:first-child {
  margin-top: 0;
}
.sidebar > .subSearch,
.sidebar > .subSidebar,
.legend-panel > div {
  margin-top: 10px;
  padding: 12px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
/* sidebar */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.sidebar h2 {
  margin: 0 0 6px 0;
  color: #333;
  font-size: 120%;
  text-transform: uppercase;
}
.sidebar h4 {
  margin: 15px 0 10px 0;
  color: #333;
  font-size: 100%;
}
.sidebar .select-wrapper {
  width: 100%;
}
.sidebar .select-wrapper > select {
  width: 100%;
}
.show-sidebar-button {
  background-color: #2f7bee;
  margin: 12px;
  border-radius: 5px;
  padding: 12px 6px;
  display: inline-block;
  cursor: pointer;
  line-height: 0;
}
.show-sidebar-button > span {
  display: inline-block;
  background-color: #fff;
  width: 3px;
  height: 3px;
  margin: 0 2px 2px 2px;
  border-radius: 50%;
  pointer-events: none;
}
.subSidebar button {
  width: 80px;
  overflow: hidden;
}
.subSidebar > .tab{
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}
.subSidebar > .nav {
  position: relative;
  padding-bottom: 8px;
  border-bottom: solid 1px #ccc;
  margin-bottom: 8px;
}
.subSidebar > .nav > ul {
  display: block;
  padding-top: 6px;
}
.subSidebar > .nav > ul > li {
  margin-right: 12px;
  font-weight: bold;
  cursor: pointer;
  color: #ccc;
  display: inline-block;
}
.subSidebar > .nav > ul > li.active {
  color: #333;
}
.subSidebar > .nav > .close-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 150%;
}
.subSidebar .valSel > select {
  width: 100%;
  margin: 4px 0;
}
.subSidebar .filter-controls button {
  margin: 0 2px 2px 0;
}
.multi-select {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}
.multi-select > select {
  cursor: pointer;
  opacity: 0;
}
.multi-select > span {
  position: absolute;
  top: -2px;
  left: 0;
  padding: 6px 12px 6px 3px;
  pointer-events: none;
  font-weight: bold;
  color: #888;
}
.multi-select > span:after {
  content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4IDlMMTIgMTVMNiA5IiBzdHJva2U9IiM4ODg4ODgiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4=);
  position: absolute;
  top: 4px;
  margin-left: 4px;
  line-height: 0;
  font-size: 160%;
}
.sidebar > .subSearch > .search {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  padding: 0;
  border: none;
  margin: 0;
}
.sidebar > .subSearch > .search > button {
  border: none;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  padding: 8px;
}
.sidebar > .subSearch > .search > button.search-icon,
.sidebar > .subSearch > .search > button.help-icon {
  position: absolute;
  top: 0;
  right: 0;
}
.sidebar > .subSearch > .search > button.help-icon:before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  height: 60%;
  width: 1px;
  border-left: 1px solid #ddd;
}
.sidebar > .subSearch > .search > button.search-icon > svg > path{
  fill: #2f7bee;
}
.sidebar > .subSearch > .search > button.search-icon.disabled > svg > path{
  fill: #888;
}
.sidebar > .subSearch > .search > .search-box {
  border: solid 1px #ddd;
  border-radius: 5px;
  width: 100%;
}
.sidebar > .subSearch > .search > .search-box > div {
  padding: 10px 30px 10px 10px;
}
.sidebar > .subSearch > .search > .search-box > div > input {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}
.sidebar > .subSearch > .search > ul.dropdown-list {
  box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
  background: #fff;
  border: solid 1px #ddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding: 4px 0;
  position: absolute;
  display: none;
  width: 100%;
  font-size: 120%;
  z-index: 1;
}
.sidebar > .subSearch > .search > ul.dropdown-list > li {
  padding: 4px 40px;
  cursor: pointer;
}
.sidebar > .subSearch > .search > ul.dropdown-list > li:hover,
.sidebar > .subSearch > .search > ul.dropdown-list > li.active {
  background: #eee;
}
.sidebar > .subSearch > .search:after,
.subSidebar .visSel:after {
  content: '';
  display: block;
  clear: both;
}
.subSidebar .visSel > div {
  display: block;
  float: left;
  white-space: nowrap;
  width: 60%;
}
.subSidebar .visSel > div:first-child {
  width: 40%;
}
.subSidebar .visSel > div:first-child span {
  display: inline-block;
  margin: 6px 0;
}
.subSidebar .visSel,
.subSidebar .filter-controls,
.subSidebar .divFrameCtrl {
  width: 98%;
}
.filter-tags > div {
  display: inline-block;
  background: #666;
  color: #fff;
  padding: 4px 8px 4px 8px;
  margin: 2px;
  border-radius: 9999px;
}
.filter-tags > div > span {
  margin-left: 5px;
  font-family: "Times", "Times New Roman", "serif", "sans-serif", "EmojiSymbols";
  cursor: pointer;
}
textarea[name=query] {
  font-family: monospace;
  width: 87%; resize: none;
}
.panel {
  position: relative;
}
.panel-dragbar {
  cursor: row-resize;
  position: relative;
  top: 5px;
  height: 10px;
  margin-top: -10px;
  width: 100%;
}
div.window {
  font-size: 140%;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 auto;
  padding: 30px;
}
div.window h2 {
  font-size: 140%;
  padding-bottom: 10px;
  font-weight: normal;
  text-align: center;
}
div.topbar {
  margin: 10px;
  background-color: #f5f5f5;
  padding: 6px 10px;
}
.topbar h3 {
  display: inline-block;
  padding-right: 4px;
  color: #999;
  font-size: 120%;
}
.topbar .select-wrapper {
  margin-right: 10px;
  width: 120px;
}
.topbar:after{
  content: '';
  display: block;
  clear: both;
}
.topbar button {
  margin: 0 2px;
}
.picker {
  margin: 20px 0;
}
.picker ul.col-3 {
  display: inline-block;
  width: 33%;
}
.picker li {
  cursor: pointer;
  text-align: center;
}
.picker li canvas {
  padding: 3px;
  border: 1px solid #fff;
}
.picker li.active canvas {
  border-color: #2f7bee;
}

div.loading {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 10;
}

div.loading > p {
  color: #fff;
  font-size: 200%;
  font-weight: bold;
  margin: 20px;
}

div.infopanel {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
div.infopanel .drag {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    cursor: w-resize;
}
div.infopanel .close-button {
  position: absolute;
  top: 10px;
  right: 14px;
}
div.infopanel > div:last-child {
  width: 100%;
  height: 100%;
}

div.tooltip {
  position: absolute;
  background: #555;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  line-height: 1.5;
}
div.tooltip.fixed{
  cursor: grab;
}
div.tooltip.fixed > span:last-child {
  position: absolute;
  top: 0;
  right: 3px;
  font-family: "Times", "Times New Roman", "serif", "sans-serif", "EmojiSymbols";
  cursor: pointer;
  display: none;
}
div.tooltip.fixed:hover > span:last-child {
  display: block;
}
div.tooltip a{
  color: #fff;
}

div.showhideArrow {
  border-radius: 50%;
  background-color: #f5f5f5;
  padding: 1px 6px 3px 6px;
  position: absolute;
  color: #666;
  cursor: pointer;
}

div.divFrameCtrl,
div.subSidebar div.buttons {
  padding: 12px 0 12px 0;
  border-top: 1px solid #eee;
}
div.divFrameCtrl svg path {
  fill: #333;
}
div.divFrameCtrl > .frame-buttons {
  margin: 0 -2px;
}
div.divFrameCtrl > .frame-buttons > button {
  text-align: center;
  width: 22px;
  background-color: #fff;
  padding: 2px 0;
  margin: 0 2px;
}
div.divFrameCtrl > .select-wrapper {
  margin-bottom: 6px;
}

/* close button */
.close-button {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 14px;
  height: 14px;
  opacity: 0.6;
}
.close-button:hover {
  opacity: 1;
}
.close-button:before, .close-button:after {
  position: absolute;
  left: 7px;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: #333;
}
.close-button:before {
  transform: rotate(45deg);
}
.close-button:after {
  transform: rotate(-45deg);
}

/* svg buttons and brush */
svg .checkbox rect {
  fill: #fff;
  stroke: #888;
  cursor: pointer;
}
svg .checkbox.checked rect {
  fill: #2f7bee;
  stroke: none;
}
svg .checkbox path {
  fill: #fff;
  pointer-events: none;
}
svg .button circle {
  fill: #2f7bee;
  pointer-events: none;
}
svg .button.disabled circle {
  fill: #888;
}
svg .button rect {
  fill: #2f7bee;
  opacity: 0.5;
  cursor: pointer;
}
svg .button.disabled rect {
  fill: #888;
}
svg .slider .selection {
  fill: #2f7bee;
  cursor: pointer;
}
svg .slider .overlay {
  cursor: pointer !important;
}
svg .buttons text {
  pointer-events: none;
  stroke-width: 0.5px;
  font-size: 100%;
  fill: #444;
}
svg .reset-button rect {
  fill: #2f7bee;
}

svg > .axis {
  pointer-events: none;
  color: #aaa;
}
svg > .axis > .tick > text {
  color: #444;
}
svg .axis.brushSlider .domain {
  stroke: #ccc;
  stroke-width: 4px;
  stroke-linecap: round;
}
svg .zoombutton {
  cursor: pointer;
}
svg .zoombutton rect {
  fill: #666;
  stroke: none;
}
svg .zoombutton rect:first-child {
  fill: #ddd;
}
svg .zoombutton.zoomreset rect {
  fill: #2f7bee;
}

/* slider */
.slider-tray {
  position: absolute;
  width: 100%;
  height: 6px;
  border: solid 1px #ccc;
  border-top-color: #aaa;
  border-radius: 4px;
  background-color: #f0f0f0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

.slider-handle-icon {
  width: 14px;
  height: 14px;
  border: solid 1px #aaa;
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  top: -7px;
  left: -7px;
  cursor: pointer;
}

.slider-extent {
  position: absolute;
  display: block;
  top: 1px;
  height: 6px;
  opacity: .8;
  background-color: #2f7bee;
}

.slider-min, .slider-max, .slider-text {
  position: absolute;
  display: block;
  color: #333;
  line-height: 1.333;
  padding: 1px 3px;
  background: rgba(0,0,0,0.1);
  border-radius: 3px;
}

.slider-text {
  border: solid 1px #ccc;
  background: #fff;
  cursor: pointer;
}

.slider-text input {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1px;
  left: 1px;
}

/* legend */
.legend .title {
  font-size: 120%;
}
.legend .goback {
  margin-left: 6px;
  color: #2f7bee;
  cursor: pointer;
}
.legend-check-box {
  background-color: #fff;
  border: solid 1px #888;
  display: inline-block;
  border-radius: 3px;
  width: 10px;
  height: 10px;
  margin-bottom: -1px;
  margin-right: 4px;
}
.legend-check-box.checked {
  background-color: #2f7bee;
  border-color: #2f7bee;
}
.legend-item .legend-check-box.checked:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 2px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.legend-selectall {
  position: relative;
}
.legend-selectall .legend-check-box.checked:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 5px;
  width: 8px;
  border-top: solid 2px white;
}
.legend-check-path {
  pointer-events: none;
}
.legend-separator {
  color: transparent;
  border-bottom: solid 1px #bbb;
  margin: 6px 2px;
}
.legend-bottom-button {
  width: 50px;
  overflow: hidden;
  margin: 4px 2px 0 2px;
  font-size: 10px;
}
.legend-item {
  position: relative;
  margin: 4px 0;
}
.legend-item img,
.legend-item svg {
  margin-bottom: -4px;
  margin-right: 4px;
}

/* svg legend */
svg .goback {
  fill: #2f7bee;
  cursor: pointer;
}
svg .legend-check-box {
  fill: #fff;
  stroke: #888;
}
svg .legend-check-box.checked {
  fill: #2f7bee;
  stroke: #2f7bee;
}
svg .legend-check-path {
  fill: #fff;
  pointer-events: none;
}
svg .legend-separator {
  stroke: #bbb;
  stroke-width: 1px;
}
svg .legend-bottom-button > rect{
  cursor: pointer;
  fill: #2f7bee;
}
svg .legend-bottom-button.disabled > rect {
  opacity: 0.5;
  pointer-events: none;
}
svg .legend-bottom-button > text{
  text-anchor: middle;
  font-size: 8px !important;
  fill: #fff !important;
  pointer-events: none;
}
