body {
  font-family: sans-serif;
  font-size: 10px;
  color: #333;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
a {
  color: #327ee9;
}
ul {
  list-style-type: none;
}
button, input, select {
  border: solid 1px #aaa;
  margin: 2px;
  font-family: sans-serif;
  font-size: 100%;
  color: #333;
  background-color: #fff;
  border-radius: 3px;
  padding: 2px 8px;
}
button {
  background: #ddd;
  cursor: pointer;
}
button.disabled {
  color: #888;
  pointer-events: none;
}
input[type=range]{
  -webkit-appearance: none;
  height: 5px;
  background: #d3d3d3;
  border-radius: 3px; 
  outline: none;
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #aaa;
  width: 12px;
  height: 12px;
  border-radius: 50%; 
  background: #fff;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #aaa;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: #fff;
  cursor: pointer;
}
table {
  color: #444;
  border-collapse: collapse;
} 
td, th {
  border: solid 0px #fff;
  padding: 4px;
} 
tr.selected {
  background-color: #fffacd !important;
}
tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(odd) {
  background-color: #fff;
}
th {
  background-color: #ddd;
  padding: 6px;
  text-align: left;
  white-space: nowrap;
}
th.sorting,
th.sorting_asc,
th.sorting_desc {
  cursor: pointer;
}
th.sorting:after {
  content: "\20\2195";
  font-size: 140%;
  color: #aaa;
}
th.sorting_asc:after {
  content: "\20\2191";
  font-size: 140%;
  color: #666;
}
th.sorting_desc:after {
  content: "\20\2193";
  font-size: 140%;
  color: #666;
}
.tables {
  background-color: #f5f5f5;
  padding: 6px 10px;
  border-top: solid 2px #888;
}
.tables div.title{
  font-size: 120%;
  margin: 10px 0;
  padding-top: 10px;
}
.tables div.title span{
  font-weight: bold;
  font-size: 140%;
}
.tables div.nodes,
.tables div.links {
  margin: 10px;
}
.tables table {
  cursor: initial;
  max-width: 99%;
}
.tables td {
  white-space: nowrap;
}
.tables > h3 {
  font-size: 120%;
  margin: 10px;
}
img.icon {
  cursor: pointer;
  float: right;
  margin: 3px;
}
.selectButton{
  padding: 5px 10px;
}
.selectButton>button{
  display:inline-block;
  margin:0 5px 5px 0;
}
div.switchNodeLink{
  height: 0px;
  margin-left: 40px;
}
div.switchNodeLink > div{
  position: relative;
  display: inline-block;
  padding: 4px 8px;
  margin: 0 2px;
  border-radius: 5px 5px 0 0;
  border-style: solid;
  border-color: #888;
  border-width: 2px;
  background: #ddd;
  width: 100px;
  text-align: center;
  cursor: pointer;
}
div.switchNodeLink > div > h3{
  font-size: 120%;
  color: #666;
}
div.main {
  font-size: 240%;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
}
.note {
  padding: 30px;
}
div.note {
  position: absolute;
  left: 0;
  bottom: 0;
}
.clear {
  clear: both;
}
/* sidebar */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar h2 {
  margin: 0 0 6px 0;
  color: #333;
  font-size: 120%;
  text-transform: uppercase;
}
.sidebar h3 {
  margin: 0 0 4px 0;
  color: #333;
  font-size: 120%;
}
.sidebar h4 {
  margin: 0 0 2px 0;
  color: #333;
  font-size: 100%;
}
.sidebar.expanded {
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.sidebar select {
  width: 100%;
}
.subSidebar {
  background-color: #fff;
  padding: 12px;
  margin-top: 10px;
  border: solid 1px #ddd;
}
.subSidebar button {
  width: 72px;
  overflow: hidden;
}
.sidebar > .fixed{
  padding: 12px;
}
.sidebar.expanded > .fixed {
  background-color: #fff;
}
.sidebar > .fixed > .multigraph {
  margin-bottom: 10px;
}
.sidebar > .fixed > .multigraph:after {
  content: '';
  display: block;
  clear: both;
}
.sidebar > .fixed > .multigraph > div {
  width: 60%;
  display: block;
  float: left;
}
.sidebar > .fixed > .multigraph > div:first-child {
  width: 40%;
}
.sidebar > .fixed > .multigraph > div > h3{
  margin: 6px 0;
}
.sidebar > .fixed > .search {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  padding: 0;
  border: none;
  margin: 0;
}
.sidebar > .fixed > .search > button {
  border: none;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  padding: 10px;
}
.sidebar > .fixed > .search > button.burger-box {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}
.sidebar > .fixed > .search > button.burger-box:hover {
  opacity: 0.8;
}
.sidebar > .fixed > .search > button.search-icon {
  position: absolute;
  top: 0;
  right: 0;
}
.sidebar > .fixed > .search > button.search-icon > svg > path{
  fill: #327ee9;
}
.sidebar > .fixed > .search > button.search-icon.disabled > svg > path{
  fill: #888;
}
.sidebar > .fixed > .search > .search-box.shadowed,
.sidebar:not(.expanded) > .fixed > .search > .search-box,
.sidebar > .fixed > .search > ul.dropdown-list {
  box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
}
.sidebar > .fixed > .search > .search-box {
  border: solid 1px #ddd;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}
.sidebar > .fixed > .search > .search-box > div {
  padding: 10px 40px 10px 40px;
}
.sidebar > .fixed > .search > .search-box > div > input {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}
.sidebar > .fixed > .search > ul.dropdown-list {
  background: #fff;
  border: solid 1px #ddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding: 4px 0;
  position: absolute;
  display: none;
  width: 100%;
  font-size: 120%;
}
.sidebar > .fixed > .search > ul.dropdown-list > li {
  padding: 4px 40px;
  cursor: pointer;
}
.sidebar > .fixed > .search > ul.dropdown-list > li:hover,
.sidebar > .fixed > .search > ul.dropdown-list > li.active {
  background: #eee;
}
.subSidebar .filter-switch:after,
.sidebar > .fixed > .search:after,
.subSidebar .visSel:after {
  content: '';
  display: block;
  clear: both;
}
.subSidebar .visSel > div {
  display: block;
  float: left;
  white-space: nowrap;
  width: 60%;
}
.subSidebar .visSel > div:first-child {
  width: 40%;
}
.subSidebar .visSel > div:first-child span {
  display: inline-block;
  margin: 6px 0;
}
.subSidebar .filter-switch {
  margin: 12px 0 4px 0;
}
.subSidebar .filter-switch h4 {
  display: inline;
}
.subSidebar .filter-switch h4:after {
  content: "\20\2304";
  font-size: 200%;
  line-height: 0;
}
.subSidebar .filter-switch h4.expanded:after {
  content: "";
}
.subSidebar .collapse-ctrl {
  cursor: pointer;
  text-align: center;
  margin: 5px 30% 0 30%;
  font-size: 200%;
  line-height: 0;
  padding-top: 15px;
}
.filter-tags {
  margin: 4px 0;
}
.filter-tags > div {
  display: inline-block;
  background: #666;
  color: #fff;
  padding: 4px 8px 4px 8px;
  margin: 2px;
  border-radius: 9999px;
}
.filter-tags > div > span {
  margin-left: 5px;
  font-family: "Times", "Times New Roman", "serif", "sans-serif", "EmojiSymbols";
  cursor: pointer;
}
textarea[name=query] {
  font-family: monospace;
  width: 87%; resize: none;
}
.panel {
  position: absolute;
  top: 0;
  left: 0;
}
.panel-dragbar {
  cursor: row-resize;
  position: relative;
  top: 5px;
  height: 10px;
  margin-top: -10px;
  width: 100%;
}
div.window {
  font-size: 140%;
}
div.window h2 {
  font-size: 140%;
  padding-bottom: 10px;
}
div.topbar {
  margin: 10px;
  background-color: #f5f5f5;
  padding: 6px 10px;
}
.topbar h3 {
  display: inline-block;
  padding-right: 4px;
  color: #999;
  font-size: 120%;
}
.topbar select {
  margin-right: 20px;
  width: 120px;
}
.topbar:after{
  content: '';
  display: block;
  clear: both;
}
ul.picker>li {
  cursor: pointer;
  margin: 5px 0;
}

div.loading {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 10;
}

div.loading > p {
  color: #fff;
  font-size: 200%;
  font-weight: bold;
  margin: 20px;
}

div.infopanel {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
  position: absolute;
  top: 10px;
  right: 10px;
}
div.infopanel .drag {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    cursor: w-resize;
}
div.infopanel .close-button {
  font-size: 20px;
  color: #888;
  position: absolute;
  top: 6px;
  right: 10px;
}
div.infopanel > div:last-child {
  width: 100%;
  height: 100%;
}

div.tooltip {
  position: absolute;
  background: #555;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  line-height: 1.5;
}

div.showhideArrow {
  border-radius: 50%;
  background-color: #f5f5f5;
  padding: 1px 6px 3px 6px;
  position: absolute;
  color: #666;
  cursor: pointer;
}

div.divFrameCtrl {
  float: right;
  margin: 0 1rem;
}
div.divFrameCtrl svg path {
  fill: #333;
}
div.divFrameCtrl button {
  text-align: center;
  width: 30px;
}

/* svg buttons and brush */
.close-button {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
svg .button circle {
  fill: #888;
}
svg .button rect {
  fill: #ccc;
  cursor: pointer;
}
svg .slider .selection {
  fill: #888;
  cursor: pointer;
}
svg .slider .overlay {
  cursor: pointer !important;
}
svg .buttons text {
  pointer-events: none;
  stroke-width: 0.5px;
  font-size: 100%;
  fill: #444;
}
svg .axis.brushSlider .domain {
  stroke: #ccc;
  stroke-width: 4px;
  stroke-linecap: round;
}
svg .zoombutton {
  cursor: pointer;
}
svg .zoombutton rect {
  fill: #666;
  stroke: none;
}
svg .zoombutton rect:first-child {
  fill: #ddd;
}

/* slider */
.slider-tray {
  position: absolute;
  width: 100%;
  height: 6px;
  border: solid 1px #ccc;
  border-top-color: #aaa;
  border-radius: 4px;
  background-color: #f0f0f0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

.slider-handle-icon {
  width: 14px;
  height: 14px;
  border: solid 1px #aaa;
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  top: -7px;
  left: -7px;
  cursor: pointer;
}

.slider-extent {
  position: absolute;
  display: block;
  top: 1px;
  height: 6px;
  opacity: .8;
  background-color: #327ee9;
}

.slider-min, .slider-max, .slider-text {
  position: absolute;
  display: block;
  color: #333;
  line-height: 1.333;
  padding: 1px 3px;
  background: rgba(0,0,0,0.1);
  border-radius: 3px;
}

.slider-text {
  border: solid 1px #ccc;
  background: #fff;
  cursor: pointer;
}

.slider-text input {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1px;
  left: 1px;
}

/* scale */
.scale text {
  font-size: 120%; fill: #444;
}
.scale text.title {
  font-size: 160%;
  text-anchor: middle;
}

/* legend */
.legend > text.title {
  text-anchor: end;
}
.legend-check-box {
  fill: #fff;
  stroke: #888;
}
.legend-check-path {
  fill: #fff;
  pointer-events: none;
}
.legend-separator {
  stroke: #888;
  stroke-width: 0.5px;
}
.legend-bottom-button > rect{
  cursor: pointer;
  fill: #ddd;
  pointer-events: none;
}
.legend-bottom-button > text{
  text-anchor: middle;
  font-size: 8px !important;
  fill: #fff !important;
  pointer-events: none;
}
